<%- include('partials/header') %>

    <div class="container">
        <div class="mb-4">
            <h1 class="display-5">Welcome, <%= user.userName %>!</h1>
            <p class="lead">This is your personal dashboard. Soon you'll be able to add and track your favorite ETFs
                right here.</p>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        Your Tracked ETFs
                    </div>
                    <div class="card-body">
                        <p class="card-text">Your list of ETFs will appear here.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Add a New ETF
                    </div>
                    <div class="card-body">
                        <p>Form coming soon!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>