<%- include('partials/header') %>

    <div class="p-5 mb-4 bg-white rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Welcome to My ETF Snapshot</h1>
            <p class="col-md-8 fs-4">Your personal dashboard to track Exchange-Traded Funds. Get simple, automated email
                summaries and stay on top of your investments.</p>
            <a href="/signup" class="btn btn-primary btn-lg" type="button">Get Started</a>
        </div>
    </div>

    <%- include('partials/footer') %>